{
  "extends": "stylelint-config-standard",
  "rules": {
	"color-hex-case": "upper",
	"string-quotes": "single",
	"indentation": "tab",
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "declaration-no-important": true
  }
}
