.container {
	display: block;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	flex-direction: column;

	& h1 {
		margin-top: 0;
		color: #555;
		font-weight: normal;
	}
}
